@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;600&family=Noto+Serif+JP:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-font-family: "Noto Serif JP", serif;
  --heading-gothic-font-family: "Noto Sans JP", sans-serif;
  counter-reset: chapter;
}

html {
  font-family: var(--main-font-family);
  font-size: 3.7mm;
  text-align: justify;
  widows: 1;
  orphans: 1;
  text-spacing: auto;
}

@page {
  size: 148mm 210mm; /* A5サイズ */
  margin: 18mm 16mm 16mm 16mm;
}

//////////////////////////
/// 背景の画像，ページ番号
//////////////////////////

// 章番号セット
@page :first {
  /* 全原稿ファイルの中で1枚目のページ */
  // counter-reset: chapter;
}

@page :nth(2) {
  /* 各原稿ファイルの中で2枚目のページ */
  counter-increment: chapter;
}

@page :left {
  margin-right: 20mm;
  @top-left-corner {
    content: counter(page);
    text-align: center;
    font-family: "Noto Sans JP";
    font-weight: 500;
    font-size: 3.4mm;
  }
  @top-left {
    content: "第" counter(chapter) "章 │ " env(doc-title);
    font-family: "Noto Serif JP";
    font-weight: 500;
    font-size: 3mm;
  }
}

// 右ページ 右上に表示
@page :right {
  margin-right: 20mm;
  @top-right-corner {
    content: counter(page);
    text-align: center;
    font-family: "Noto Sans JP";
    font-weight: 500;
    font-size: 3.4mm;
  }

  @top-right {
    content: string(seciton-number, first) "│ " string(section, first);
    font-family: "Noto Serif JP";
    font-weight: 500;
    font-size: 3mm;
  }
}

// 青い背景 一枚目
@page: nth(1) {
  background-image: url("../img/chapter_page_left.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  background-color: #fff;

  // ページ番号なし
  @top-left-corner {
    content: none;
  }
  @top-left {
    content: none;
  }
}

// 青い背景 二枚目
@page: nth(2) {
  background-image: url("../img/chapter_page_right.png");
  background-size: contain;
  background-repeat: repeat-x;
  background-position: right;
  background-color: #fff;
  margin-top: 40mm;

  // ページ番号なし
  @top-left-corner {
    content: none;
  }

  @top-left {
    content: none;
  }

  @top-right-corner {
    content: none;
  }

  @top-right {
    content: none;
  }
}

// 表紙
@page: first {
  background-image: none;
  @top-left-corner {
    content: none;
  }

  @top-left {
    content: none;
  }

  @top-right-corner {
    content: none;
  }

  @top-right {
    content: none;
  }
}

//////////////////////////
// 各見出しのスタイル
//////////////////////////

// 章(chapter)
h1 {
  font-family: var(--main-font-family);
  font-weight: 600;

  counter-reset: section;
  font-size: 8.2mm;
  padding-left: 21mm;
  margin-top: -1mm;

  counter-increment: chapter;
  string-set: chapter content(), chapter-number countent(before);
  color: white;
  &::before {
    font-size: 7.3mm;
    position: absolute;
    left: -6mm;
    top: 0.25mm;
    content: "第" counter(chapter) "章";
  }
}

// 節(section)
h2 {
  break-before: verso;
  color: #017dc5;
  counter-increment: section;
  counter-reset: item;
  font-size: 6.3mm;
  // letter-spacing: 1.4mm;
  padding-left: 24mm;
  margin-bottom: 1.3mm;
  position: relative;
  string-set: section content(), seciton-number content(before);

  &::before {
    content: "第" counter(section) "節 ";
    position: absolute;
    left: 0;
  }

  &::after {
    content: "";
    position: absolute;
    left: 21mm;
    width: 0.15mm;
    height: 6.3mm;
    top: 50%;
    margin-top: -2.8mm;
    background-color: #000;
  }
}

// 項(item)
h3 {
  counter-increment: item;
  counter-reset: paragraph;
  background-color: #e0eaf6;
  background: linear-gradient(to right, #fff 5%, #e0eaf6 5%);
  // margin: 1.3mm 0 0 0;
  margin-bottom: 2mm;
  padding: 0 0mm 0 12mm;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 600;
  height: 7mm;
  line-height: 7mm;
  font-size: 4mm;

  // 数字の書かれている，青い枠
  &::before {
    content: counter(item);
    text-align: center;
    width: 10mm;
    position: absolute;
    left: 0;
    background-color: #017dc5;
    box-shadow: 0px -10px 9px -4px #00abdd inset;
    height: 7mm;
    color: #fff;
    font-weight: 500;

    // 左下を削る
    clip-path: polygon(
      0mm 0px,
      calc(100%) 0px,
      100% 1mm,
      100% calc(100%),
      calc(100%) 100%,
      1mm 100%,
      0px calc(102% - 1mm),
      0px 1mm
    );
  }
}

//段落 (paragraph)
h4 {
  counter-increment: paragraph;
  font-family: Noto Sans JP;
  font-weight: 600;
  font-size: 3.4mm;
  padding-left: 6mm;
  // margin-top: 6mm;
  margin-bottom: 2mm;
  border-bottom: 0.2mm #d55564 solid;
  &::before {
    color: #fff;
    position: absolute;
    left: 0;
    text-align: center;
    width: 5mm;
    background-color: #d55564;
    content: counter(paragraph, upper-alpha);
  }
}

//////////////////////////
/// その他スタイル
//////////////////////////
hr {
  visibility: hidden;
  break-after: page;
}

p {
  text-indent: 1rem;
  margin-bottom: 3mm;
}

.intro {
  font-size: 3.5mm;
  font-family: "Noto Sans JP", sans-serif;
  // margin-top: 2mm;
  margin-bottom: 6mm;
  font-weight: 500;
  letter-spacing: -0.2mm;
}

.info {
  background-color: #e8f1f8;
  margin-bottom: 3mm;
  padding: 3mm 5mm;
  > p {
    text-indent: 0;
    padding: 0;
    margin: 0;
    > strong {
      display: block;
      font-family: var(--heading-gothic-font-family);
      // &::before {
      // content: leader("…");
      // margin-inline-start: 0.2em;
      // margin-inline-end: -1em;
      // }
    }
  }
}
